/* Regole valide per la pagina intera*/
body{font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color:white;
    /* ATTENZIONE per avere il png sopra il colore devo scrivere prima la foto poi il colore*/
    /*Verisone 1
    background: url("./Assets/background.png") no-repeat;
    background-color: black;
    background-size: cover;
    background-blend-mode: lighten;
     */

    /*Verisone 2*/
    background:  url("./Assets/background.png") repeat;
    background-color: black;
;
}


/* Colore dei link*/
a{color:lightblue;}


/* Regole valide nella tabella per colorare i voti*/
/* Questo é errato perché anche i nomi degli esami risulterebbero centrati
td{text-align: center}
*/
td.alto{color:green;text-align: center}
td.basso{color:red;text-align: center}

/* Regole valide per la foto profilo*/
#profilepicture{ display: block; margin: 0 auto; width: 20%;}

/* Regole valide per le citazioni*/
p.citazione{font-style:italic; text-align: center;}
p.citazione::after {content: ' \00A9';}


/* Regole valide per il footer*/
footer{font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 90%;}
footer img{width: 10vh}