/* Regole valide per la pagina intera*/
body{font-family: Arial, Helvetica, sans-serif;
    line-height: 110%;
    color:white;
    /* ATTENZIONE per avere il png sopra il colore devo scrivere prima la foto poi il colore*/
    /*Verisone 1
    background: url("./Assets/background.png") no-repeat;
    background-color: black;
    background-size: cover;
    background-blend-mode: lighten;
     */

    /*Verisone 2*/
    background:  url("./Assets/background.png") repeat;
    background-color: black;

    /* resetto il contatore */
    counter-reset: contatore;
}
/*inserisco il contatore di sezione*/
h2::before{
    counter-increment: contatore;
    content: counter(contatore) ". "}

/* Colore dei link*/
a:link{color:lightblue;}
a:visited{color:lightblue;}
a:hover{color:orange;background-color: aquamarine}
a:active{background-color: red}


/* Regole valide nella tabella per la prima lettera dei paragrafi*/
p::first-letter{font-weight: bold;font-size: 200%;color:green;}


/* Regole valide nella tabella per colorare i voti*/
/* Questo é errato perché anche i nomi degli esami risulterebbero centrati
td{text-align: center}
*/
td.alto{color:green;text-align: center}
td.basso{color:red;text-align: center}

/* Regole valide per la foto profilo*/
#profilepicture{ display: block; margin: 0 auto; width: 20%;}

/* Regole valide per le citazioni*/
p.citazione{font-style:italic; text-align: center;}
p.citazione::after {content: ' \00A9';}

/* regole per il layout
La proprietà clear serve a impedire che al fianco di un elemento compaiano altri elementi con il float
La proprietà float serve a rimuovere un elemento dal normale flusso del documento e spostarlo su uno dei lati*/
.theheader{grid-area: header;
    clear: both;
    text-align: center;
    border: 0.2em solid red;
    min-width: 30em;}

.themenu{grid-area: menu;
    float:left;}
.thecontent{grid-area: contenuto;
    float:right; min-width: 30em;}
.thefooter{grid-area: footer;
    clear:both;
    border-top:0.3em solid blue;
    }
/*Struttura generica (Si useranno solo pet schermi piccoli)*/
.grid-container{
    display: grid;
    grid-template-areas:
    "header"
    "menu"
    "contenuto"
    "footer";

}
@media (min-width: 800px){
    .grid-container {
        display: grid;
        grid-template-areas:
        "header header"
        "menu contenuto"
        "footer footer";


    }
}





/* Regole valide per il footer*/
footer{font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 90%;}
footer img{width: 10vh}

/* Regole per la stampa */
@media print{
    main {font-family: "Times New Roman", Times, serif;
        font-style: italic;
    font-size: 13pt;}
    a{text-decoration:underline;
    color:blue;}
    a:after{content: " (" attr(href) ") ";}
    .themenu{display: none}
    footer{font-family: "Times New Roman", Times, serif;
        font-style: italic;
        font-size: 90%;}


}